{% extends 'base.html' %}
{% block content %}
<h2>Competition</h2>
<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Bodyweight</th>
            <th scope="col">Snatch 1</th>
            <th scope="col">Snatch 2</th>
            <th scope="col">Snatch 3</th>
            <th scope="col">CnJ 1</th>
            <th scope="col">CnJ 2</th>
            <th scope="col">CnJ 3</th>
            <th scope="col">Total</th>
            <th scope="col">Sinclair</th>
            <th scope="col">Position</th>
        </tr>
    </thead>
<tbody>
    {% for object in objects %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.date_of_birth }}</td>
        <td>{{ object.bodyweight }}</td>
        <td>{{ object.snatch_attempt_1 }}</td>
        <td>
            {% if object.snatch_attempt_2 %}
            {{ object.snatch_attempt_2 }}
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if object.snatch_attempt_3 %}
            {{ object.snatch_attempt_3 }}
            {% else %}
            -
            {% endif %}
        </td>
        <td>{{ object.cnj_attempt_1 }}</td>
        <td>
            {% if object.cnj_attempt_2 %}
            {{ object.cnj_attempt_2 }}
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if object.cnj_attempt_3 %}
            {{ object.cnj_attempt_3 }}
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if object.total %}
            {{ object.total }}
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if object.sinclair %}
            {{ object.sinclair }}
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if object.position %}
            {{ object.position }}
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h3>Update</h3>
<form method="POST">
    {% csrf_token %}
    <label for="competitor-name">Competitor Name:</label>
    <select name="competitor-name" id="namelist">
        {% for object in objects %}
        <option value="{{ object.name }}">{{ object.name }}</option>
        {% endfor %}
    </select>
    <label for="lift">Lift:</label>
    <select name="lift" id="liftlist">
        <option value="Snatch">Snatch</option>
        <option value="Clean and Jerk">Clean and Jerk</option>
        </select>
    <label for="attempt-no">Attempt Number:</label>
    <select name="attempt-no" id="attempt-nolist">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight" />
    <label for="miss-make">Make:</label>
    <select name="miss-make" id="miss-makelist">
        <option value="Make">Make</option>
        <option value="Miss">Miss</option>
    </select>
    <button name="add" type="submit">Update</button>
</form>

{% endblock %}