{% extends 'base.html' %}
{% block content %}
<h2>Competition</h2>
<table style="width:100%">
<tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Bodyweight</th>
    <th>Snatch 1</th>
    <th>Snatch 2</th>
    <th>Snatch 3</th>
    <th>CnJ 1</th>
    <th>CnJ 2</th>
    <th>CnJ 3</th>
    <th>Total</th>
    <th>Sinclair</th>
    <th>Position</th>
</tr>
{% for object in objects %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.date_of_birth }}</td>
        <td>{{ object.bodyweight }}</td>
        <td>{{ object.snatch_attempt_1 }}</td>
        <td>{{ object.snatch_attempt_2 }}</td>
        <td>{{ object.snatch_attempt_3 }}</td>
        <td>{{ object.cnj_attempt_1 }}</td>
        <td>{{ object.cnj_attempt_2 }}</td>
        <td>{{ object.cnj_attempt_3 }}</td>
        <td>{{ object.total }}</td>
        <td>{{ object.sinclair }}</td>
    </tr>
    {% endfor %}
{% endblock %}