{% extends 'base.html' %}
{% block content %}
<h2>View Competitors</h2>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Bodyweight</th>
        <th>Opening Snatch</th>
        <th>Opening Clean and Jerk</th>
    </tr>

    {% for object in objects %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.date_of_birth }}</td>
        <td>{{ object.bodyweight }}</td>
        <td>{{ object.snatch_attempt_1 }}</td>
        <td>{{ object.cnj_attempt_1 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}